.step-two .vital-signs {
    text-align: center;
    font-weight: var(--medium-font-weight);
    text-decoration: underline;
    margin: 1rem;
}
.openAppointment{
    margin-bottom: 20px;
    text-align: center;
}

.bookAppointmentbtn {
    width: 150px;
    background-color:  #5A84C3;
    color: white;
    border: 0px;
}